wf3.json
{
  "id": "z8phYF4ViwqcFx9P",
  "name": "🐾 Pet Flow - Lembrete 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "dd522dff-bfbd-471c-a76f-558e21c5127e",
      "name": "Cron - A cada 1 hora1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -832,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://knwxgwklpbykmnzlbhpk.supabase.co/rest/v1/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,scheduled_at,status,pets(name),services(name),customers(name,phone_1),organizations(wa_integration_type,wa_api_url,wa_api_token)"
            },
            {
              "name": "status",
              "value": "in.pending,confirmed"
            },
            {
              "name": "scheduled_at",
              "value": "gte.{{ new Date(Date.now() + 23*3600000).toISOString() }}&scheduled_at=lte.{{ new Date(Date.now() + 25*3600000).toISOString() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtud3hnd2tscGJ5a21uemxiaHBrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkyNDM5NSwiZXhwIjoyMDg3NTAwMzk1fQ.2t1MjHxS9SCbVLB7C0GyuzdQyrDhbmN4W2OEKnVvKMM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtud3hnd2tscGJ5a21uemxiaHBrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkyNDM5NSwiZXhwIjoyMDg3NTAwMzk1fQ.2t1MjHxS9SCbVLB7C0GyuzdQyrDhbmN4W2OEKnVvKMM"
            }
          ]
        },
        "options": {}
      },
      "id": "c3bbd549-0296-4208-b2cd-73e41499660d",
      "name": "Buscar Agendamentos 24h1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.customers?.phone_1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6ae1a545-2924-40cf-ad4e-98b0f73b63ae",
      "name": "Tem Telefone?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const appt = $json;\nconst pet = appt.pets?.name || 'seu pet';\nconst service = appt.services?.name || 'serviço';\nconst scheduledAt = new Date(appt.scheduled_at);\nconst time = scheduledAt.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Sao_Paulo' });\nconst date = scheduledAt.toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\nconst phone = (appt.customers?.phone_1 || '').replace(/\\D/g, '');\nconst phone55 = phone.startsWith('55') ? phone : '55' + phone;\nconst org = appt.organizations || {};\nreturn [{\n  json: {\n    phone: phone55,\n    wa_integration_type: org.wa_integration_type || 'system',\n    wa_api_url: org.wa_api_url || '',\n    wa_api_token: org.wa_api_token || '',\n    message: `🐾 *Lembrete de Agendamento!*\\n\\nOlá! Passando para lembrar que amanhã, *${date}* às *${time}*, o *${pet}* tem horário de *${service}* agendado conosco.\\n\\nTe esperamos! 📅✨`\n  }\n}];"
      },
      "id": "c58e7aea-81f3-47a7-8753-8837347bde30",
      "name": "Montar Lembrete1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wa_integration_type === 'custom' && $json.wa_api_url ? $json.wa_api_url.replace(/\\/$/, '') + '/send-text' : 'https://api.z-api.io/instances/3ED9BA904B506170EBAEF600A127D137/token/945E1301884A1F957BA8EF84/send-text' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "={{ $json.wa_integration_type === 'custom' && $json.wa_api_token ? 'Authorization' : 'Client-Token' }}",
              "value": "={{ $json.wa_integration_type === 'custom' && $json.wa_api_token ? ('Bearer ' + $json.wa_api_token) : 'F200243e457104ad79273e20e177311a2S' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "359cf1d2-3398-4553-93d1-1179c2f38343",
      "name": "Z-API: Enviar Lembrete1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        352
      ]
    }
  ],
  "connections": {
    "Cron - A cada 1 hora1": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos 24h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos 24h1": {
      "main": [
        [
          {
            "node": "Tem Telefone?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Telefone?1": {
      "main": [
        [
          {
            "node": "Montar Lembrete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Lembrete1": {
      "main": [
        [
          {
            "node": "Z-API: Enviar Lembrete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}