n8n-workflows/workflow_A_status_banho.json
{
    "name": "🐾 Pet Flow - Status de Banho/Serviço",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "pet-status",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-pet-status",
            "name": "Webhook - Pet Status",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "pet-status"
        },
        {
            "parameters": {
                "jsCode": "const pet = $json.petName || 'seu pet';\nconst service = $json.serviceName || 'serviço';\nconst phone = ($json.tutorPhone || '').replace(/\\D/g, '');\nconst phone55 = phone.startsWith('55') ? phone : '55' + phone;\nconst status = $json.newStatus ? String($json.newStatus).trim().toLowerCase() : \"\";\n\nlet msg = `✅ *${pet}* está pronto! O *${service}* foi concluído com sucesso. Pode vir buscar ele! 🐶❤️`;\nif (status === 'in_progress') {\n  msg = `🛁 Olá! O *${service}* do *${pet}* acabou de INICIAR! Assim que ele estiver pronto, te avisamos aqui. 🐾`;\n}\n\nreturn [{\n  json: {\n    phone: phone55,\n    message: msg\n  }\n}];"
            },
            "id": "msg-builder",
            "name": "Gerar Mensagem",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.z-api.io/instances/3F245682DF48F0823F789694814B07C7/token/7880A683DDA466109EACD383/send-text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Client-Token",
                            "value": "F200243e457104ad79273e20e177311a2S"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "zapi-send",
            "name": "Z-API: Enviar Whatsapp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                760,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "ok",
                "options": {}
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1020,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Pet Status": {
            "main": [
                [
                    {
                        "node": "Gerar Mensagem",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gerar Mensagem": {
            "main": [
                [
                    {
                        "node": "Z-API: Enviar Whatsapp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Z-API: Enviar Whatsapp": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}